@media (max-width: 1300px) {
    .container {
        width: 100%;
    }

    .menu {
        display: none;
    }
    .button-phone {
        display: none;
    }
    .header .container {
        padding: 24px 18px;
    }
    .phone__number {
        text-decoration: none;
        color: #fff;
        margin-right: 0;
    }
    .banner {
        background-size: cover;
        background-position: 55% 50%;
    }

    .banner .container {
        padding: 85px 18px 61px 18px;
    }
    .banner__title {
        font-size: 23px;
        line-height: 31px;
    }
    .banner__text {
        font-size: 14px;
        line-height: 19px;
        margin-top: 16px;
    }
    .banner__buttons {
        margin-top: 32px;
        flex-direction: column;
    }
    .button-calculate {
        padding: 19px 70px;
        margin-right: 0;
    }

    .button-submit {
        margin-top: 45px;
    }

    .slider {
        margin: 36px 18px 1284px 18px;
    }

    .slide__item {
        flex-wrap: nowrap;
    }

    .slide__info {
        min-width: 0;
        width: 100%;
        align-self: start;
        align-items: center;
    }

    .slide__title {
        font-size: 22px;
        text-align: center;
    }

    .slide__text {
        margin-top: 22px;
        width: 311px;
        font-size: 11px;
        text-align: center;
    }
    .slide__list {
        display: none;
    }

    .slide__char {
        order: 3;
    }

    .slide__photo {
        min-width: 0;
        margin-left: 0;
    }

    .slide__img {
        width: 340px;
        height: 241px;
    }

    .slide__char {
        grid-template-columns: 140px 140px;
        grid-template-rows: repeat(2, 68px);
    }

    .slide__char__title {
        font-size: 14px;
    }
    .slide__char__text {
        font-size: 11px;
        margin-top: 11px;
        width: 90px;
    }
    .radio__container {
        display: none;
    }
    .slider__nav {
        margin: 0 auto;
        margin-top: -170px;
        width: 313px;
    }

    .arrow {
        width: 36px;
        height: 36px;
    }

    .arrow__left {
        background: url("../img/arrow-left-mob.svg") no-repeat center;
    }

    .arrow__right {
        background: url("../img/arrow-right-mob.svg") no-repeat center;
    }

    .video {
        margin-top: -880px;
    }

    .video__title {
        font-size: 22px;
    }

    .camera {
        margin-top: 20px;
    }

    .videoplayer {
        width: 340px;
        height: 207px;
        margin-top: 40px;
    }

    .opacity {
        width: 340px;
        height: 207px;
        margin-top: -207px;
    }

    .play {
        width: 37px;
        height: 37px;
    }
    .play::before {
        width: 13px;
        height: 13px;
        background-size: cover;
        right: 10px;
        top: 11px;
    }

    .video__info {
        color: #fff;
        margin-top: 28px;
    }

    .video__text {
        margin-top: 21px;
        margin-left: 17px;
        margin-right: 17px;
        font-size: 11px;
        line-height: 19px;
    }

    .form {
        margin-top: 61px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .form__label {
        color: rgba(255, 255, 255, 0.5);
    }
    .input__container {
        margin-bottom: 63px;
    }
    .input__container:last-of-type {
        margin-bottom: 0;
    }
    .checkbox__container {
        margin-top: 0;
    }
    .button-form {
        order: 4;
        padding: 20px 124px;
        margin-top: 62px;
        width: 340px;
        border-radius: 0;
    }
    .form__input {
        width: 100%;
        color: #fff;
    }
    .form__input::placeholder {
        color: #fff;
    }
    .checkbox__label {
        color: #fff;
    }
    .cards {
        margin-top: 83px;
    }

    .cards__container {
        flex-direction: column;
    }

    .card {
        margin-left: 0;
        margin-bottom: 60px;
    }

    .card:last-child {
        margin-bottom: 0;
    }

    .card__img {
        width: 340px;
        height: 365px;
    }

    .list__container {
        width: 270px;
        align-self: flex-start;
        padding: 21px 41px 37px 31px;
    }

    .card__price {
        margin-left: 0;
        padding: 11px 19px;
    }

    .measurer {
        display: none;
    }

    .fantasies {
        display: none;
    }

    .clients {
        display: none;
    }

    .fantasies__slider {
        display: block;
        margin-bottom: -20px;
    }

    .fantasies__slider .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fantasies__title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 24px;
    }

    .fantasies__slide__img {
        width: 340px;
        height: 242px;
    }

    .fantasies__slide {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .fantasies__arrows {
        display: flex;
        justify-content: space-between;
        width: 313px;
        margin-top: -130px;
    }

    .orientires {
        background-image: none;
        background-color: #181818;
        padding-bottom: 50px;
    }

    .question {
        margin-top: 173px;
    }

    .question .form {
        width: 340px;
        margin: 52px 17px 46px 17px;
    }

    .question .form__input {
        margin-bottom: 63px;
    }

    .question #question {
        width: 340px;
        margin-bottom: 0;
    }

    .question .checkbox__container {
        width: 340px;
        justify-content: start;
        margin-bottom: 67px;
    }

    .orientires__title {
        width: 340px;
        font-size: 18px;
        order: 2;
        margin-top: 42px;
    }

    .social {
        order: 3;
        width: 99px;
    }

    .social__item {
        width: 39px;
        height: 39px;
    }

    .email,
    .ig {
        background-size: 50% 50%;
    }

    .map {
        order: 1;
        width: 340px;
        height: 255px;
        margin-top: 46px;
    }

    .footer {
        display: none;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 100%;
    }
}
